# MySQL systemd service file

[Unit]
Description=MySQL Community Server
#ConditionPathIsMountPoint=ssd-path-here
After=network.target mount-unit-here
Requires=mount-unit-here

[Install]
WantedBy=multi-user.target mount-unit-here

[Service]
Type=forking
User=mysql
Group=mysql
PIDFile=/run/mysqld/mysqld.pid
PermissionsStartOnly=true
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
ExecStart=/usr/sbin/mysqld --daemonize --pid-file=/run/mysqld/mysqld.pid
TimeoutSec=600
Restart=on-failure
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
LimitNOFILE=5000