[Unit]
Description=Share local port(s) with ngrok
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
ExecStart=/home/trainspotting/ngrok start --config /home/trainspotting/scripts/config/ngrok_config.yml --all
ExecStop=/usr/bin/killall ngrok

[Install]
WantedBy=multi-user.target