#!/bin/bash
# 1. stop all scripts/services
sudo systemctl stop run_camera.service
sudo systemctl stop run_purple_air.service
sudo systemctl stop weewx
##############################################################

# 2. run reporting R script
sudo Rscript /home/trainspotting/Trainspotting/scripts/run_reporting.R
##############################################################

# 3. git pull
cd /home/trainspotting/Trainspotting
OUTPUT=$(git status -uno | grep "Your branch is up to date")
if [ -z "$OUTPUT" ]
then
	git pull
	(sudo chmod -f u+x setup/update.sh && sudo ./setup/update.sh) || true
else
	echo "No updates."
fi
##############################################################

# 4. enable services
sudo systemctl enable run_camera
sudo systemctl enable run_purple_air
sudo systemctl enable run_ngrok
sudo systemctl enable weewx

# 5. reboot
sudo systemctl reboot