[Unit]
Description=status checker service.
After=network.target

[Service]
ExecStart=/home/home/trainspotting/services/status_checker device-id-here >> ssd-path-here/trainspotting/service_logs/status_checker.log 2>&1

[Install]
WantedBy=multi-user.target